html {
    font-size: 16px;
}
/* 设计图为750px,分成7.5 　　　由于设计图是750的,所以计算时需要　2倍*/    
@media screen and (max-width: 1024px) {
    html {
        font-size: 136.53px;
    }
}
@media screen and (max-width: 768px) {
    html {
        font-size: 102.4px;
    }
}
@media screen and (max-width: 496px) {
    html {
        font-size: 66.13px;
    }
}
@media screen and (max-width: 414px) {
    html {
        font-size: 55.2px;
    }
}
@media screen and (max-width: 411px) {
    html {
        font-size: 54.8px;
    }
}
@media screen and (max-width: 375px) {
    html {
        font-size: 50px;
    }
}
@media screen and (max-width: 360px) {
    html {
        font-size: 48px;
    }
}
@media screen and (max-width: 320px) {
    html {
        font-size: 42.67px;
    }
}
