* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-style: normal;
}
html,body {
    height: 100%;
}
input,img {
    display: block;
    border: 0 none;
    outline: 0 none;
}
.clearfix::after {
    content: '';
    height: 0;
    line-height: 0;
    display: bock;
    clear: both;
    visibility: hidden;
}
.clearfix {
    *zoom: 1;
}